<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuhaSHkuAxSqzCX-8vSgtA7hhQO7c6KgE</string>
	<key>GCM_SENDER_ID</key>
	<string>186275539225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uruti.app</string>
	<key>PROJECT_ID</key>
	<string>uruti-rw</string>
	<key>STORAGE_BUCKET</key>
	<string>uruti-rw.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186275539225:ios:19dfa2c5732d80dfe3fd88</string>
</dict>
</plist>